.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 221, 148);
    border-radius: 20px;
}
.CartWidget {
    display: flex;
}
.BotonCategorias{
    display: flex !important;
    flex-direction: row;
    align-items: center;
}
.CategoriasIcon {
    display: flex !important;
    padding: 5px;
}
.greeting {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 95%;
    padding: 10px;
    border: 2px;
    background-color: aliceblue;
    border-color:rgb(255, 221, 148);
    border-radius: 10px;
    text-decoration: double;
}
.logo{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
}
.divGreeting{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BsFillGridFill{
    padding: 5px;
}
.BsCart4{
    padding: 5px;
}
.GiBearFace{
    padding: 5px;
}
.containerProduct{
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
    width: 1200px;
    border-radius: 10px;
}
.Cardstyle {
    max-width: 500px; 
    margin-bottom: 20px; 
}
.chakra-card.Cardstyle.css-t3blsc{
    background-color: rgb(255, 221, 148);
}
.chakra-card__footer{
    background-color: rgb(253, 232, 187);
}
.chakra-button__group{
    background-color: antiquewhite;
}
.logo-content {
    display: flex;
    align-items: center;
}
  .GiBearFace,
  .logo-text {
    padding: 5px;
}
  .logo-text {
    font-weight: bold;
}
